body{
    font-family: arial, sans-serif;
    font-size:13px;
    height: 80vh;
}

a{
    padding: 0px 10px;
    color:#5F636F;
}

a:link {
    text-decoration: none;
}
  
a:visited {
    text-decoration: none;
}
  
a:hover {
    text-decoration: none;
}
  
a:active {
    text-decoration: underline;
}

p{
    margin-top: 10px;
    font-size:16px;
    color: #5F636F;
}

header{
    margin-top: 10px;
}

nav {
    position: absolute;
    top: 1em;
    right: 1em;
    display: flex;
    align-items: center;
}

main{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-bottom:10px;
    margin-top:20vh;
}

footer{
    bottom: 0;
    font-size: 14pt;
    position: absolute;
    width: 100%;
    background-color: #f2f2f2;
}

.navbar-link{
    padding-left:5px;
    padding-right:5px;
}

.main-logo{
    padding-top:1.5em;
    padding-bottom: 2em;
}

.search-bar{
    font-size:18px;
    border: 1px #bbb solid;
    border-radius: 30px;
    margin-bottom: 4vh;
    width: 30em;
    height:2.2em;
}

.search-buttons{
    display:flex;
    justify-content: center;
}

.search-button{
    margin: 11px 4px;
    padding: 0px 16px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    height: 36px;
    text-align:center;
    font-size: 14px;
    min-width: 54px;
    cursor: pointer;
}

.footer-country{
    color: rgba(0,0,0,.54);
    font-size:18pt;
    border-top: 1px solid #aaa;
    padding: 10px 10px;
}

.footer-links{
    padding-bottom:30px;
    padding-top: 10px;
    border-top: 1px solid #aaa;
}

.right-align{
    float:right;
}

.left-align{
    float:left;
}

.right-footer{
    color: rgba(0,0,0,.54);
}

left-footer{
    color: rgba(0,0,0,.54);
}